---
import { Image } from "astro:assets";
import { allLocales, defaultLocale } from "../utils/allLocales";
import WebridgeLogo from '../assets/images/logo_webridge_afb.svg'

const { currentPath } = Astro.props;
const { params } = Astro;

const getTopPagePath = () => {
  if (params.lang) {
    return `/${params.lang}`
  }
  return '/'
}

//適当
function getLocaleUrl(targetLocale: string): string {
  let path = currentPath;

  for (const locale of allLocales) {
    const prefix = `/${locale}`;
    if (path.startsWith(prefix)) {
      path = path.slice(prefix.length);
      break;
    }
  }

  path = path || '/';

  if (path === '/') {
    return targetLocale === defaultLocale
      ? path
      : `/${targetLocale}`;
  }

  if (path.endsWith('/')) {
    path = path.slice(0, -1);
  }

  return targetLocale === defaultLocale
    ? path
    : `/${targetLocale}${path}`;
}


---
<div class="flex justify-between">
  <div>
    <a href={getTopPagePath()}>
      <Image src={WebridgeLogo} alt={"webridge"} width={200} />
    </a>
  </div>
    <ul>
    {allLocales.map(locale => (
      <li>
          <a href={getLocaleUrl(locale)}>{locale}</a>
      </li>
    ))}
  </ul>
</div>